@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  z-index: 999;
  padding: 10px;
  padding-left: 120px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.header > * {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin-right: 1rem;
  border-radius: 9999px;
  padding: 8px 15px;
  padding-bottom: 10px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  z-index: 99999;
}

.header > *:hover {
  text-decoration: underline;
}

.header > .active {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.05);
}

.header > .active:before {
  content: '# ';
}

.title {
  font-size: 6rem;
  font-family: poppins;
  text-align: center;
  color: white;
  background-color: rgb(29 78 216);
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
}

.small-page {
  height: 50vh;
  background-color: yellowgreen;
}

.page span {
  margin: auto;
}

.scroll-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 10px;
}

.bg1 {
  background-color: rgb(29 78 216);
}

.bg2 {
  background-color: rgb(219 39 119);
}

.bg3 {
  background-color: rgb(220 38 38);
}

.bg4 {
  background-color: rgb(8 145 178);
}

.bg5 {
  background-color: rgb(147 51 234);
}

.bg6 {
  background-color: rgb(5 150 105);
}

@media (max-width: 1250px) {
  .title {
    font-size: 4rem;
  }
}

.link-to-github {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-right: 20px;
  background: white;
  display: flex;
  text-decoration: none;
  color: black;
  border-radius: 0 10px px 0 0;
}

@media (max-width: 540px) {
  .header {
    padding-left: 40px;
  }
  .page > span {
    width: 60%;
  }
}
